.list-mattresses {
    display: flex;
    flex-direction: column;
    position: relative;
}

.mattress {
    position: relative;
    border-style: ridge;
    
    padding: 50px;
    width: 30%;
}

.mattress-index h1 {
    position: relative;
    left: 600px;

}