.list-materials {
    display: flex;
    flex-direction: column;
    position: relative;
    /* left: 100px; */
    
    

}

.material {
    position: relative;
    border-style: ridge;
    
    padding: 50px;
    width: 30%;
}

.materials-index h1 {
    position: relative;
    left: 600px;

}